<div class="p-4">
    <div class="grid p-fluid formgrid">
        <!-- Restaurant Details Card Column -->
        <div class="field col-12 md:col-6">
            <p-card [ngStyle]="{'width': '100%', 'max-width': '600px'}">
                <ng-template pTemplate="header"></ng-template>
                <!-- Restaurant Details Section -->
                <div class="p-mb-3">
                    <h3>{{header}} Details</h3>
                    <ng-container *ngIf="ModelData">
                        <ng-container *ngFor="let key of objectKeys(ModelData)">
                            <ng-container *ngIf="key !== 'RestaurentId'">
                                <div class="p-field p-grid" style="margin-bottom: 1rem;">
                                    <label class="p-col-12 p-md-4" for="{{ key }}" style="display: block; margin-bottom: 0.5rem; font-weight: bold;">
                                        <strong>{{ key }}:</strong>
                                    </label>
                                    <div class="p-col-12 p-md-8">
                                        <input pInputText id="{{ key }}" [value]="ModelData[key]" readonly style="background-color: #F9F9F9; border: 1px solid #ccc; padding: 0.5rem; width: 100%; box-sizing: border-box; color: #1B0000" />
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </p-card>
        </div>

        <!-- Items Section Card Column -->
        <div class="field col-12 md:col-6">
            <p-card [ngStyle]="{'width': '100%', 'max-width': '600px'}">
                <ng-template pTemplate="header"></ng-template>
                <div
                    style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        width: 100%;
                    "
                >
                    <ng-container *ngFor="let item of itemsData">
                        <div class="p-col-auto p-mx-2" style="margin: 10px">
                            <button
                                pButton
                                class="p-button-primary"
                                pTooltip="View"
                                [label]="item.name"
                                (click)="visit(item.name)"
                                style="font-size: 1.25rem; padding: 0.75rem 1.5rem;"
                            ></button>
                        </div>
                    </ng-container>
                </div>
            </p-card>
        </div>
    </div>
</div>