<div class="p-4">
    <form [formGroup]="evaluationCommitteeForm" (ngSubmit)="save()">
        <div class="grid p-fluid formgrid">
            <div class="field col-12 md:col-6 mt-3">
                <span class="p-float-label">
                    <input
                        id="Name"
                        type="text"
                        pInputText
                        formControlName="Name"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && evaluationCommitteeForm.controls['Name'].invalid}"
                    />
                    <label for="Name">
                        {{ 'Name' | camelCaseToTitle }} 
                        <span style="color: red;">*</span> <!-- Red asterisk for mandatory fields -->
                    </label>
                </span>
                <div *ngIf="submitted && evaluationCommitteeForm.controls['Name'].invalid" class="p-error text-sm mt-2 md:px-3">
                    <i class="pi pi-exclamation-circle mr-1 text-red-500 text-sm"></i>
                    {{ 'Name' | camelCaseToTitle }} is required.
                </div>
            </div>

            <div class="field col-12 md:col-6 mt-3">
                <span class="p-float-label">
                    <input
                        id="Designation"
                        type="text"
                        pInputText
                        formControlName="Designation"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && evaluationCommitteeForm.controls['Designation'].invalid}"
                    />
                    <label for="Designation">
                        {{ 'Designation' | camelCaseToTitle }} 
                        <span style="color: red;">*</span> <!-- Red asterisk for mandatory fields -->
                    </label>
                </span>
                <div *ngIf="submitted && evaluationCommitteeForm.controls['Designation'].invalid" class="p-error text-sm mt-2 md:px-3">
                    <i class="pi pi-exclamation-circle mr-1 text-red-500 text-sm"></i>
                    {{ 'Designation' | camelCaseToTitle }} is required.
                </div>
            </div>

            <div class="field col-12 md:col-6 mt-3">
                <span class="p-float-label">
                    <input
                        id="Email"
                        type="text"
                        pInputText
                        formControlName="Email"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && evaluationCommitteeForm.controls['Email'].invalid}"
                    />
                    <label for="Email">{{ 'Email' | camelCaseToTitle }}</label>
                </span>
            </div>

            <div class="field col-12 md:col-6 mt-3">
                <div>
                    <ngx-intl-tel-input
                        [cssClass]="'custom'"
                        [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.SriLanka"
                        [maxLength]="15"
                        [phoneValidation]="true"
                        [separateDialCode]="true"
                        [numberFormat]="PhoneNumberFormat.National"
                        name="phone"
                        formControlName="Phone"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && evaluationCommitteeForm.controls['Phone'].invalid}"
                    >
                    </ngx-intl-tel-input>
                    <label for="Phone">
                        
                    </label>
                </div>
                <div *ngIf="submitted && evaluationCommitteeForm.controls['Phone'].invalid" class="p-error text-sm mt-2 md:px-3">
                    <i class="pi pi-exclamation-circle mr-1 text-red-500 text-sm"></i>
                    Telephone Number is required.
                </div>
            </div>

            <div class="field col-12 md:col-6 mt-3">
                <span class="p-float-label">
                    <input
                        id="TenderId"
                        type="text"
                        pInputText
                        formControlName="TenderId"
                    />
                    <label for="TenderId">{{ 'TenderId' | camelCaseToTitle }}</label>
                </span>
            </div>

            <div class="col-12 flex justify-content-end mt-4">
                <button
                    pButton
                    pRipple
                    class="p-button-outlined w-8rem mr-3"
                    icon="pi pi-times"
                    label="Cancel"
                    (click)="CloseInstances($event)"
                ></button>
                <button
                    pButton
                    pRipple
                    class="p-button-primary w-8rem"
                    [disabled]="isLoading || !evaluationCommitteeForm.valid" 
                    [icon]="isLoading ? '' : 'pi pi-check'"
                    label="{{ isLoading ? '&nbsp;&nbsp;Saving' : 'Save' }}"
                >
                    <span *ngIf="isLoading" class="pi pi-spin pi-spinner"></span>
                </button>
            </div>
        </div>
    </form>
</div>
